{% block title %}{% endblock %}

{% block nav-item %}
    {% include 'hq/dashboard.html' %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label><br>
            {{ form.username }}
        </p>
        <p>
            <label for="id_password">Password:</label><br>
            {{ form.password }}
        </p>
        <p>
            <label for="id_subcenter_name">Subcenter Name:</label><br>
            {{ form.subcenter_name }}
        </p>
        <p>
            <label for="id_parent_center">Parent Center:</label><br>
            {{ form.parent_center }}
        </p>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}

{% block extra_js %}
{% endblock %}
